<div class="container">

  <header>
    <a href="/" class="logo"><i class="fas fa-bible"></i></a>
    <h1>SCRIPTURLE</h1>
    <a href="" class="settings"><i class="fas fa-cog"></i></a>
  </header>

  <main>
    {{#each guesses}}
    <div class="row">
      {{#each this}}

        <input
        type="text"
        text=""
        class="letter {{this.state}}"
        maxlength="1"
        disabled
        value="{{this.letter}}"
      />

      {{/each}}
    </div>
    {{/each}}
    
    <h1 class="middle3">- {{secretWord}} -</h1>
  </main>
</div>